@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root{
  --a:0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.close {
  display: none;
}

body {
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  padding: 10px;
}

.right {
  width: 75vw;
}

.home {
  padding: 20px;
}

.home ul li {
  display: flex;
  gap: 8px;
  width: 16px;
  list-style: nones;
  padding-top: 14px;
  font-weight: bold;
}

.heading {
  display: flex;
  gap: 8px;
  width: 100%;
  padding-top: 14px;
  padding: 24px 14px;
  font-weight: bold;
  align-items: center;
  font-size: 14px;
}

.library {
  min-height: 80vh;
  position: relative;
}

.heading img {
  width: 30px;
}

.footer {
  display: flex;
  font-size: 10px;
  color: grey;
  gap: 12px;
  position: absolute;
  bottom: 0;
  padding: 12px 0;
}

.footer a {
  color: grey;
}

.right {
  margin: 16px 0;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
}

.header > * {
  padding: 20px;
}

.spotify-playlists {
  padding: 16px;
}

.card-container {
  margin: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 70vh;
}

.card {
  width: 200px;
  border-radius: 5px;
  padding: 10px;
  background-color: #252525;
  position: relative;
  transition: all 1s;
}

.card:hover{
  background-color: #333333;
  cursor: pointer;
  --a: 1;
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.play {
  border-radius: 50%;
  padding: 4px;
  display: flex;
  background-color: #1ed760;
  height: 28px;
  width: 28px;
  align-items: center;
  justify-content: center;
  color: black;
  position: absolute;
  top: 168px;
  right: 17px;
  opacity: var(--a);
  transition: all 1s ease-out;
}

.buttons > * {
  margin: 0 12px;
}
.signupbtn {
  background-color: transparent;
  color: rgb(132, 132, 132);
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.signupbtn:hover {
  font-size: 17px;
  color: white;
}

.loginbtn {
  background-color: white;
  border-radius: 20px;
  color: black;
  padding: 10px;
  width: 80px;
  cursor: pointer;
  font-size: 16px;
}

.loginbtn:hover {
  font-size: 17px;
  font-weight: bold;
}

.playbar {
  position: fixed;
  bottom: 30px;
  filter: invert(1);
  background-color: #dad5d5;
  border-radius: 10px;
  width: 100%;
  width: 70vw;
  padding: 12px;
  min-height: 40px;
}

.songbuttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.songList {
  height: 540px;
  overflow: auto;
  margin: 10px 0px 40px;
}

.info div {
  word-break: break-all;
}

.hamburger {
  display: none;
}

.hamburgerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.songList ul {
  padding: 0px 12px;
}

.songList ul li {
  list-style-type: decimal;
  display: flex;
  gap: 16px;
  cursor: pointer;
  padding: 12px;
  border: 1px solid white;
  margin: 12px 0;
  border-radius: 5px;
  justify-content: space-between;
}

.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.playnow span {
  font-size: 15px;
  width: 64px;
}

.song-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}

.seekbar {
  height: 4px;
  width: 98%;
  background-color: black;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  margin: 10px;
  cursor: pointer;
}

.circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  bottom: 6px;
  left: 0%;
  transition: left 0.25s;
}

.songbuttons img {
  cursor: pointer;
}

.timevol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.songinfo {
  color: black;
  padding: 0 12px;
  width: 250px;
}

.songtime {
  color: black;
  padding: 0 12px;
  width: 125px;
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.abovebar {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}

@media (max-width: 1200px) {
  .left {
    position: absolute;
    left: -120%;
    transition: all 0.3s;
    z-index: 1;
    width: 370px;
    background-color: black;
    padding: 0;
  }

  .songinfo,
  .songtime {
    width: auto;
  }

  .left .close {
    position: absolute;
    right: 30px;
    top: 25px;
    width: 30px;
  }

  .timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 12px;
  }

  .right {
    width: 100vw;
    margin: 0;
  }

  .playbar {
    width: calc(100vw - 60px);
  }

  .seekbar {
    width: calc(100vw - 70px);
  }

  .hamburger {
    display: block;
  }

  .card {
    width: 44vw;
  }

  .card-container {
    margin: 0;
    justify-content: center;
  }

  .close {
    display: block;
  }

  .abovebar {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .card {
    width: 80vw;
  }
}
